.close-button{
  float: right;
  top:-24px;
  right:-24px;
}

.close-icon {
  transition: 1s ease-in-out;
}

.close-icon:hover {
  transform: rotate(180deg);
}

::ng-deep .icon-outside .close-button{
  float: right;
  top:-52px;
  right:-52px;
}

::ng-deep .icon-outside .mat-dialog-container {
  overflow: unset
}

.no-right-rounding {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.no-left-rounding {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.image-icon {
  background-size: cover;
  width: 70px;
}
