/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.no-right-rounding {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.no-left-rounding {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.elektrobit-green-background {
  background-color: #00EB00;
}
.elektrobit-grey-background {
  background-color: #3F3F3F;
}

.elektrobit-green {
  color: #00EB00;
}

.white {
  color: white;
}
.xxfont {
  font-size: xx-large;
}
