/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.elektrobit-green-background {
  background-color: #00EB00;
}
.elektrobit-grey-background {
  background-color: #3F3F3F;
}

.elektrobit-green {
  color: #00EB00;
}

.white {
  color: white;
}
.xxfont {
  font-size: xx-large;
}
