<mat-sidenav-container class="property-panel">
  <mat-sidenav-content>
    <div class="container">
      <h2>Property</h2>

      <label for="name">Name:</label>
      <input class="form-control" name="name"
             id="name" placeholder="name"
             [(ngModel)]="property.name">

      <label for="binding">Title:</label>
      <input class="form-control" name="binding"
             id="binding" placeholder="binding"
             [(ngModel)]="property.binding">

      <button type="button" class="btn btn-primary" (click)="createProperty()">Submit</button>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
