<h3 class="mt-3 mb-1">Message Content</h3>
<div class="row mb-3">
  <div class="col-8">
    <input class="form-control no-bottom-rounding text-center" placeholder="Title" style="font-size: 20px"
           [(ngModel)]="message.title"
           [ngClass]="{'is-invalid' : hasTitleError}"
           [style.background]="message.messageDisplayProperties.backgroundColor"
           [style.color]="message.messageDisplayProperties.fontColor"
           [style.fontFamily]="fontFamilyToFontString(message.messageDisplayProperties.fontFamily)">
    <div *ngIf="hasTitleError" class="invalid-feedback">Title field is required.</div>

    <textarea class="form-control message-content flex-grow-1 no-top-rounding border-top-0" placeholder="Content"
              [(ngModel)]="message.content"
              [ngClass]="{'is-invalid' : hasContentError}"
              [style.background]="message.messageDisplayProperties.backgroundColor"
              [style.color]="message.messageDisplayProperties.fontColor"
              [style.fontFamily]="fontFamilyToFontString(message.messageDisplayProperties.fontFamily)"
              [style.text-align]="alignmentToAlignmentString(message.messageDisplayProperties.alignment)"></textarea>
    <div *ngIf="hasContentError" class="invalid-feedback">Either Content or Files are required.</div>

  </div>
  <div class="col-4">

    <select
      class="browser-default custom-select mb-2"
      [(ngModel)]="message.messageDisplayProperties.fontFamily">
      <option [ngValue]="undefined" selected hidden disabled>Font</option>
      <option [ngValue]="fontFamily.Roboto">{{fontFamilyToFontString(fontFamily.Roboto)}}</option>
      <option [ngValue]="fontFamily.OpenSans">{{fontFamilyToFontString(fontFamily.OpenSans)}}</option>
      <option [ngValue]="fontFamily.Montserrat">{{fontFamilyToFontString(fontFamily.Montserrat)}}</option>
      <option [ngValue]="fontFamily.PlayfairDisplay">{{fontFamilyToFontString(fontFamily.PlayfairDisplay)}}</option>
    </select>
    <mat-divider></mat-divider>
    <div class="d-flex mt-2">
      <div>Custom Colors:</div>
      <mat-slide-toggle class="ml-auto" color="primary" [(ngModel)]="hasCustomColor"
                        (change)="enableCustomColor($event)"></mat-slide-toggle>
    </div>
    <div class="d-flex mb-2">
      <input class="mr-2 rounded border color-select"
             [disabled]="!hasCustomColor"
             [cpDisabled]="!hasCustomColor"
             [style.background]="message.messageDisplayProperties.fontColor"
             [cpOutputFormat]="'hex'"
             [(colorPicker)]="message.messageDisplayProperties.fontColor"
             [cpAlphaChannel]="'disabled'"
             (colorPickerSelect)="setFontColor($event)"
      />
      <div [style.color]="hasCustomColor ? 'black' : 'lightgrey'">Text Color</div>
    </div>
    <div class="d-flex mb-2">
      <input class="mr-2 rounded border color-select"
             [disabled]="!hasCustomColor"
             [cpDisabled]="!hasCustomColor"
             [style.background]="message.messageDisplayProperties.backgroundColor"
             [cpOutputFormat]="'hex'"
             [(colorPicker)]="message.messageDisplayProperties.backgroundColor"
             [cpAlphaChannel]="'disabled'"
             (colorPickerSelect)="setBackgroundColor($event)"
      />
      <div [style.color]="hasCustomColor ? 'black' : 'lightgrey'">Background Color</div>
    </div>
    <div *ngIf="hasColorError" class="text-danger small">Text color and background color are the same!</div>
    <mat-divider></mat-divider>
    <mat-button-toggle-group class="mt-2 mb-2" [(ngModel)]="message.messageDisplayProperties.alignment">
      <mat-button-toggle [value]="alignment.Left"><mat-icon>format_align_left</mat-icon></mat-button-toggle>
      <mat-button-toggle [value]="alignment.Center"><mat-icon>format_align_center</mat-icon></mat-button-toggle>
      <mat-button-toggle [value]="alignment.Right"><mat-icon>format_align_right</mat-icon></mat-button-toggle>
    </mat-button-toggle-group>
    <mat-divider></mat-divider>
    <div class="mt-2">Links:</div>
    <div class="border rounded bg-white mb-2">
      <ng-container *ngFor="let _ of message.links; let i = index;trackBy:trackById">
        <div class="input-group">
          <input name="url" type="text" placeholder="http://www.example.com" class="form-control border-0 message-url"
                 [(ngModel)]="message.links[i]"
                 [ngClass]="{'is-invalid' : urlErrors[i]}"/>
          <button class="btn bg-white message-url-delete" (click)="removeLink(i)">❌</button>
        </div>
      </ng-container>
      <button class="btn btn-secondary top-height message-new-url" (click)="addLink()" type="button">
        <span>➕</span>
      </button>
    </div>
    <div *ngIf="hasUrlErrors" class="text-danger small">"Please insert URLs in the following Scheme:
      http://www.example.com."
    </div>

    <mat-divider></mat-divider>

    <label class="mt-2">Add File:</label>
    <label *ngIf="message.attachment == null || message.attachment.length === 0" class="btn btn-secondary col mb-0"
           [ngClass]="{'is-invalid' : hasContentError}">
      Upload Image<input type="file" name="attachment" class="form-control" hidden
                         (change)="fileSelect($event)">
    </label>
    <div style="display: flex">
      <div *ngIf="message.attachment != null && message.attachment.length !== 0"
           [ngStyle]="{'background-image': 'url(' + getDataUrlFromImageByteArray(message.attachment) +')'}"
           class="form-control image-icon no-right-rounding"></div>
      <div *ngIf="message.attachment != null && message.attachment.length !== 0"
           class="col btn btn-secondary no-left-rounding" (click)="removeAttachment()">Remove Image
      </div>
    </div>
  </div>
</div>

<mat-divider></mat-divider>

<h3 class="mt-3 mb-1">Publish Settings</h3>

<label for="sender">Sender:</label>
<div style="display: flex">
  <input class="form-control col-10 no-right-rounding" name="sender"
         id="sender" placeholder="Sender"
         [(ngModel)]="message.sender"
         [ngClass]="{'is-invalid' : hasSenderError}">
  <label *ngIf="message.logoAttachment == null || message.logoAttachment.length === 0"
         class="btn btn-secondary col no-left-rounding mb-0">
    Upload Icon<input type="file" name="attachmentIcon" class="form-control" hidden
                      (change)="logoSelect($event)">
  </label>
  <div *ngIf="message.logoAttachment != null && message.logoAttachment.length !== 0"
       [ngStyle]="{'background-image': 'url(' + getDataUrlFromImageByteArray(message.logoAttachment) +')'}"
       class="form-control image-icon no-left-rounding no-right-rounding"></div>
  <div *ngIf="message.logoAttachment != null && message.logoAttachment.length !== 0"
       class="btn btn-secondary col no-left-rounding" (click)="removeLogo()">Remove Icon
  </div>
</div>
<div *ngIf="hasSenderError" class="invalid-feedback">Sender field is required.</div>

<label>Send message at:</label>

<div class="mb-2">
  <app-elektrobit-date-time-picker [(date)]="message.starttime"></app-elektrobit-date-time-picker>
</div>

<label>Endtime:</label>
<div style="display: flex">
  <select class="browser-default custom-select col no-right-rounding"
          name="endtimeTypeSelection" id="endtimeTypeSelection"
          [(ngModel)]="expirationOffsetType">
    <option [ngValue]="null" selected>no expiration</option>
    <option [ngValue]="0">Minutes</option>
    <option [ngValue]="1">Hours</option>
    <option [ngValue]="2">Days</option>
    <option [ngValue]="3">Weeks</option>
  </select>
  <input name="endtime" type="number" class="form-control col no-left-rounding border-left-0" id="endTime" placeholder=""
         size="10" maxlength="10" [(ngModel)]="expirationOffset" [disabled]="expirationOffsetType == null">
</div>

<mat-tab-group mat-stretch-tabs (selectedTabChange)="topicPropertySwitch($event)">
  <mat-tab label="Topics">
    <select
      class="browser-default custom-select"
      name="topic" id="topic"
      [(ngModel)]="message.topic"
      [ngClass]="{'is-invalid' : hasTopicPropertiesError}">
      <option selected></option>
      <option *ngFor="let t of topics" [ngValue]="t.binding">{{t.title}}</option>
    </select>
  </mat-tab>
  <mat-tab label="Properties">
    <ng-container *ngIf="properties != null">
      <div *ngFor="let p of properties">
        <div class="form-check">
          <input
            class="form-check-input"
            name="properties" type="checkbox"
            id="checkboxid"
            [(ngModel)]="p[1]"
            [ngClass]="{'is-invalid' : hasTopicPropertiesError}"
            (change)="propertiesSelect()"/>
          <label class="form-check-label" for="checkboxid">
            {{p[0].name}}
          </label>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="properties == null">
      <h4>No properties available at the moment!</h4>
    </ng-container>
  </mat-tab>
</mat-tab-group>
<div *ngIf="hasTopicPropertiesError" class="invalid-feedback">Either Topics or Properties are required.</div>

<div class="location-boundaries" style="margin-bottom: 5px;">
  <a class="btn btn-secondary collapse-button top-height" id="collapseButton" style="color: white;"
     role="button" aria-expanded="false" aria-controls="locationCollapse" (click)="locationDataHide()">Location
    boundaries</a>
  <div [ngClass]="{'collapse' : message.locationData == null}" id="locationCollapse" style="margin-top: 3px;">
    <div class="row location-form-group">
      <div class="col-sm-4">
        <label for="latTextField">Latitude</label>
        <input type="number" step="0.00000001" class="form-control" name="lat" id="latTextField" placeholder="lat"
               size="10" maxlength="10" [(ngModel)]="locationData.lat"
               [ngClass]="{'is-invalid' : onlyOneCoordError || coordValueRangeError}">
      </div>
      <div class="col-sm-4">
        <label for="lngTextField">Longitude</label>
        <input type="number" step="0.00000001" class="form-control" name="lng" id="lngTextField" placeholder="lng"
               size="10" maxlength="10" [(ngModel)]="locationData.lng"
               [ngClass]="{'is-invalid' : onlyOneCoordError || coordValueRangeError}">
      </div>
    </div>
    <div *ngIf="onlyOneCoordError" class="text-danger small">Please enter both coordinate values!</div>
    <div *ngIf="coordValueRangeError" class="text-danger small">Please check your coordinate values!</div>
    <div class="radius-selection">
      <input type="range" min="10" max="100" class="slider" id="radiusRange" name="radius"
             [(ngModel)]="locationData.radius">
      <span>{{locationData.radius}} km</span>
    </div>
  </div>
</div>
