.spacer {
  flex: 0.01 0;
}

.elektrobit-green-background {
  background-color: #00EB00;
}

.elektrobit-grey-background {
  background-color: #3F3F3F;
}

.white {
  color: white;
}
.xxfont {
  font-size: xx-large;
}
