<head>
</head>
<div class="elektrobit-grey-background text-right" style="display:flex; padding-left:10px; padding-top:10px; margin-bottom: 0px;">
  <img src="../assets/images/EB_Logo_ohneSchrift.PNG" style="margin-right:10px" height="30" width="30" alt="Responsive image"/>
  <h1 class="white xxfont">Elektrobit OEM Messaging Service</h1>
</div>

<mat-toolbar class="elektrobit-grey-background" style="height:32px; padding-bottom: 10px">
  <span style="color: white">Elektrobit</span>
  <div class="spacer"></div>
  <a routerLink="/message">Message</a>
  <div class="spacer"></div>
  <a routerLink="/message_history">Message History</a>
  <div class="spacer"></div>
  <a routerLink="/property">Property</a>
  <div class="spacer"></div>
  <a routerLink="/topic">Topic</a>
</mat-toolbar>
<router-outlet></router-outlet>
