<mat-sidenav-container autosize class="message-panel">
  <mat-sidenav mode="side" opened="true" class="template-panel">
    <app-template-load (templateSelected)="loadTemplate($event)" [currentMessage]="message"></app-template-load>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="container">
      <h2>Publish Message</h2>

      <mat-divider></mat-divider>

      <h3 class="mt-3 mb-1">Message Content</h3>
      <div class="row mb-3">
        <div class="col-8">
          <input class="form-control" placeholder="Title"
                 [(ngModel)]="message.title"
                 [ngClass]="{'is-invalid' : hasTitleError}">
          <div *ngIf="hasTitleError" class="invalid-feedback">Title field is required.</div>

          <textarea class="form-control mt-2 message-content flex-grow-1" placeholder="Content"
                    [(ngModel)]="message.content"
                    [ngClass]="{'is-invalid' : hasContentError}"
                    [style.background]="message.backgroundColor"
                    [style.color]="message.fontColor"
                    [style.fontFamily]="fontFamilyToFontString(message.fontFamily)"></textarea>
          <div *ngIf="hasContentError" class="invalid-feedback">Either Content or Files are required.</div>

        </div>
        <div class="col-4">

          <select
            class="browser-default custom-select"
            [(ngModel)]="message.fontFamily">
            <option [ngValue]="undefined" selected hidden disabled>Font</option>
            <option [ngValue]="0">{{fontFamilyToFontString(0)}}</option>
            <option [ngValue]="1">{{fontFamilyToFontString(1)}}</option>
            <option [ngValue]="2">{{fontFamilyToFontString(2)}}</option>
            <option [ngValue]="3">{{fontFamilyToFontString(3)}}</option>
          </select>
          <input class="mt-2 mb-2 mr-2 rounded border color-select" [style.background]="message.fontColor" [(colorPicker)]="message.fontColor"
                 [cpOKButton]="true" [cpSaveClickOutside]="false" [cpOKButtonClass]="'btn btn-primary btn-xs'"/>
          <label>Text Color</label>
          <mat-divider></mat-divider>
          <input class="mt-2 mb-2 mr-2 rounded border color-select" [style.background]="message.backgroundColor"
                 [(colorPicker)]="message.backgroundColor" [cpOKButton]="true" [cpSaveClickOutside]="false"
                 [cpOKButtonClass]="'btn btn-primary btn-xs'"/>
          <label>Background Color</label>
          <mat-divider></mat-divider>
          <div class="mt-2">Links:</div>
          <div class="border rounded bg-white mb-2">
            <ng-container *ngFor="let _ of message.links; let i = index;trackBy:trackById">
              <div class="input-group">
                <input name="url" type="text" placeholder="http://www.example.com" class="form-control border-0 message-url"
                       [(ngModel)]="message.links[i]"
                       [ngClass]="{'is-invalid' : urlErrors[i]}"/>
                <button class="btn bg-white message-url-delete" (click)="removeLink(i)">❌</button>
              </div>
            </ng-container>
            <button class="btn bg-primary top-height message-new-url" (click)="addLink()" type="button">
              <span>➕</span>
            </button>
          </div>
          <div *ngIf="hasUrlErrors" class="text-danger small">"Please insert URLs in the following Scheme:
            http://www.example.com."
          </div>

          <mat-divider></mat-divider>

          <label class="mt-2">Add File:</label>
          <div class="custom-file">
            <input type="file" id="fileSelection" name="attachmentFile" class="custom-file-input"
                   [ngClass]="{'is-invalid' : hasContentError}" (change)="fileSelect($event)">
            <label class="custom-file-label" for="fileSelection">{{fileName}}</label>
          </div>
          <div *ngIf="hasContentError" class="invalid-feedback">Either Content or Files are required.</div>

        </div>
      </div>

      <mat-divider></mat-divider>

      <h3 class="mt-3 mb-1">Publish Settings</h3>

      <label for="sender">Sender:</label>
      <input class="form-control" name="sender"
             id="sender" placeholder="Sender"
             [(ngModel)]="message.sender"
             [ngClass]="{'is-invalid' : hasSenderError}">
      <div *ngIf="hasSenderError" class="invalid-feedback">Sender field is required.</div>

      <label>Send message at:</label>
      <input name="starttime" class="browser-default custom-select" type="datetime-local"
             [(ngModel)]="message.starttime"/>

      <label>Endtime:</label>
      <div style="display: flex">
        <select class="browser-default custom-select col"
                name="endtimeTypeSelection" id="endtimeTypeSelection"
                [(ngModel)]="expirationOffsetType">
          <option [ngValue]="null" selected>no expiration</option>
          <option [ngValue]="0">Minutes</option>
          <option [ngValue]="1">Hours</option>
          <option [ngValue]="2">Days</option>
          <option [ngValue]="3">Weeks</option>
        </select>
        <input name="endtime" type="number" class="form-control col" name="endTime" id="endTime" placeholder=""
               size="10" maxlength="10" [(ngModel)]="expirationOffset" [disabled]="expirationOffsetType == null">
      </div>

      <mat-tab-group mat-stretch-tabs>
        <mat-tab label="Topics">
          <select
            class="browser-default custom-select"
            name="topic" id="topic"
            [(ngModel)]="message.topic"
            [ngClass]="{'is-invalid' : hasTopicPropertiesError}">
            <option selected></option>
            <option *ngFor="let t of topics" [ngValue]="t.binding">{{t.title}}</option>
          </select>
        </mat-tab>
        <mat-tab label="Properties">
          <ng-container *ngIf="properties != null">
            <div *ngFor="let p of properties">
              <div class="form-check">
                <input
                  class="form-check-input"
                  name="properties" type="checkbox"
                  id="checkboxid"
                  [(ngModel)]="p[1]"
                  [ngClass]="{'is-invalid' : hasTopicPropertiesError}"
                  (change)="propertiesSelect()"/>
                <label class="form-check-label" for="checkboxid">
                  {{p[0].name}}
                </label>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="properties == null">
            <h4>No properties available at the moment!</h4>
          </ng-container>
        </mat-tab>
      </mat-tab-group>
      <div *ngIf="hasTopicPropertiesError" class="invalid-feedback">Either Topics or Properties are required.</div>

      <div class="location-boundaries">
        <a class="btn btn-primary collapse-button top-height" id="collapseButton"
           role="button" aria-expanded="false" aria-controls="locationCollapse" (click)="locationDataHide()">Location
          boundaries</a>
        <div [ngClass]="{'collapse' : message.locationData == null}" id="locationCollapse">
          <div class="row location-form-group">
            <div class="col-sm-4">
              <label for="latTextField">Latitude</label>
              <input type="number" step="0.00000001" class="form-control" name="lat" id="latTextField" placeholder="lat"
                     size="10" maxlength="10" [(ngModel)]="locationData.lat"
                     [ngClass]="{'is-invalid' : onlyOneCoordError || coordValueRangeError}">
            </div>
            <div class="col-sm-4">
              <label for="lngTextField">Longitude</label>
              <input type="number" step="0.00000001" class="form-control" name="lng" id="lngTextField" placeholder="lng"
                     size="10" maxlength="10" [(ngModel)]="locationData.lng"
                     [ngClass]="{'is-invalid' : onlyOneCoordError || coordValueRangeError}">
            </div>
          </div>
          <div *ngIf="onlyOneCoordError" class="text-danger small">Please enter both coordinate values!</div>
          <div *ngIf="coordValueRangeError" class="text-danger small">Please check your coordinate values!</div>
          <div class="radius-selection">
            <input type="range" min="10" max="100" class="slider" id="radiusRange" name="radius"
                   [(ngModel)]="locationData.radius">
            <span>{{locationData.radius}} km</span>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-success top-height" (click)="sendMessage()">Submit</button>
      <button type="button" class="btn btn-danger top-height" style="margin-left: 10px" (click)="clearMessage()">Clear
      </button>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
