<div class="container">
  <h2>Message History</h2>

  <div class="row">
    <div class="col-md-4">
      <div class="input-group">
        <label for="example-search-input">Search in content, sender and title:</label>
        <input class="form-control py-2 border-right-0 border" type="search" value="Search complete Message"
               id="example-search-input"
               [(ngModel)]="messageFilter.searchString">
        <span class="input-group-append">
                    <div class="input-group-text bg-transparent"><i class="fa fa-search"></i></div>
                </span>
      </div>
    </div>
  </div>

  <div class="input-group">
    <label for="search-content">Search content:</label>
    <input class="form-control py-2 border-right-0 border" type="search" value="Search content" id="search-content"
           [(ngModel)]="messageFilter.content">
  </div>

  <div class="input-group">
    <label for="search-sender">Search sender:</label>
    <input class="form-control py-2 border-right-0 border" type="search" value="Search content" id="search-sender"
           [(ngModel)]="messageFilter.sender">
  </div>
  <div class="input-group">
    <label for="search-title">Search title:</label>
    <input class="form-control py-2 border-right-0 border" type="search" value="Search content" id="search-title"
           [(ngModel)]="messageFilter.title">
  </div>

  <label>Period of time:</label>
  <div class="d-flex">
    <app-elektrobit-date-picker-to-date class="flex-grow-1 mb-2" [(date)]="messageFilter.starttimePeriod"
                                        [invalid]="hasDateRangeError"></app-elektrobit-date-picker-to-date>
    <app-elektrobit-date-picker-to-date class="flex-grow-1" [(date)]="messageFilter.endtimePeriod"
                                        [invalid]="hasDateRangeError"></app-elektrobit-date-picker-to-date>
  </div>
  <div *ngIf="hasDateRangeError" class="mb-2 text-danger small" style="margin-left: 15px">The start date must be before
    the end date.
  </div>
  <div *ngIf="hasDatePickerOnlyOnceSelectedError" class="mb-2 text-danger small" style="margin-left: 15px">If you select
    a start date you
    must also select an end date and vice versa.
  </div>

  <mat-tab-group mat-stretch-tabs (selectedTabChange)="topicPropertySwitch($event)">
    <mat-tab label="Topics">
      <select
        class="browser-default custom-select"
        name="topic" id="topic"
        [(ngModel)]="messageFilter.topic"
        [ngClass]="{'is-invalid' : hasTopicPropertiesError}">
        <option selected></option>
        <option *ngFor="let t of topics" [ngValue]="t.binding">{{t.title}}</option>
      </select>
    </mat-tab>
    <mat-tab label="Properties">
      <select
        class="browser-default custom-select"
        name="topic" id="property"
        [(ngModel)]="messageFilter.property"
        [ngClass]="{'is-invalid' : hasTopicPropertiesError}">
        <option selected></option>
        <option *ngFor="let p of properties" [ngValue]="p[0].binding">{{p[0].name}}</option>
      </select>
    </mat-tab>
  </mat-tab-group>

  <button type="button" class="btn btn-primary" style="margin-top:10px" (click)="showMessages()">Show</button>

  <table class="table table-bordered" style="margin-top: 10px">
    <thead>
    <tr>
      <th scope="col">Sender</th>
      <th scope="col">Titel</th>
      <th scope="col">Inhalt</th>
      <th scope="col">gesendet?</th>
      <th scope="col">Datum</th>
      <th scope="col">Löschen</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let message of messagesArray">
      <td>{{message.sender}}</td>
      <td>{{message.title}}</td>
      <td>{{message.content}}</td>
      <td *ngIf="message.isSent">
        <button class="btn btn-light" style="margin-left: 35px" (click)="viewMessage(message)">
          <svg width="1.8em" height="1.8em" viewBox="0 0 16 16" class="bi bi-search"
               fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                  d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
            <path fill-rule="evenodd"
                  d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
          </svg>
        </button>
        <svg style="margin-left: 25px" width="1.8em" height="1.8em" viewBox="0 0 16 16"
             class="bi bi-check-circle elektrobit-green" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
          <path fill-rule="evenodd"
                d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>
        </svg>
      </td>
      <td *ngIf="!message.isSent">
        <button class="btn btn-light" style="margin-left: 35px" (click)="editMessage(message)">
          <svg width="1.8em" height="1.8em" viewBox="0 0 16 16" class="bi bi-wrench"
               fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                  d="M.102 2.223A3.004 3.004 0 0 0 3.78 5.897l6.341 6.252A3.003 3.003 0 0 0 13 16a3 3 0 1 0-.851-5.878L5.897 3.781A3.004 3.004 0 0 0 2.223.1l2.141 2.142L4 4l-1.757.364L.102 2.223zm13.37 9.019L13 11l-.471.242-.529.026-.287.445-.445.287-.026.529L11 13l.242.471.026.529.445.287.287.445.529.026L13 15l.471-.242.529-.026.287-.445.445-.287.026-.529L15 13l-.242-.471-.026-.529-.445-.287-.287-.445-.529-.026z"/>
          </svg>
        </button>
        <svg style="margin-left: 25px" width="1.8em" height="1.8em" viewBox="0 0 16 16" class="bi bi-arrow-right-circle"
             fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
          <path fill-rule="evenodd"
                d="M4 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5A.5.5 0 0 0 4 8z"/>
        </svg>
      </td>
      <td>{{message.starttime}}</td>
      <td>
        <button *ngIf="!message.isSent" style="margin-left: 35px" class="btn btn-light"
                (click)="deleteMessage(message.id)">
          <svg width="1.8em" height="1.8em" viewBox="0 0 16 16" class="bi bi-trash"
               fill="currentColor"
               xmlns="http://www.w3.org/2000/svg">
            <path
              d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
            <path fill-rule="evenodd"
                  d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
          </svg>
        </button>
        <button *ngIf="message.isSent" style="margin-left: 35px; color: lightgrey" class="btn btn-disabled" disabled>
          <svg width="1.8em" height="1.8em" viewBox="0 0 16 16" class="bi bi-trash"
               fill="currentColor"
               xmlns="http://www.w3.org/2000/svg">
            <path
              d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
            <path fill-rule="evenodd"
                  d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
          </svg>
        </button>
      </td>
    </tr>
    </tbody>
  </table>

</div>

