<mat-sidenav-container class="h-100">
  <mat-sidenav-content>
    <div class="container d-flex flex-column h-100">
      <h2 class="mt-2">Statistics</h2>
      <mat-divider></mat-divider>

      <h2 class="mt-2 mb-2">Topics by Popularity</h2>
      <select
        class="browser-default custom-select"
        [(ngModel)]="showTop5">
        <option [ngValue]="true">Top 5 Topics</option>
        <option [ngValue]="false">All Topics</option>
      </select>

      <div *ngIf="showTop5" echarts [options]="topicsPieOptions"></div>
      <div *ngIf="!showTop5" echarts [options]="topicsBarOptions"></div>

      <mat-divider></mat-divider>

      <h3 class="mt-2 mb-0">Restrict Time Span:</h3>
      <div style="display: flex">
        <app-elektrobit-date-picker class="flex-grow-1 mb-2" [(date)]="metricsFilter.timeSpanBegin" (dateChange)="loadMetrics()"></app-elektrobit-date-picker>
        <app-elektrobit-date-picker class="flex-grow-1 mb-2" [(date)]="metricsFilter.timeSpanEnd" (dateChange)="loadMetrics()" [minDate]="metricsFilter.timeSpanBegin"></app-elektrobit-date-picker>
      </div>

      <h3 class="mt-2 mb-0">Restrict to Topic:</h3>
      <select
        class="browser-default custom-select mb-2"
        name="topic" id="topic"
        [(ngModel)]="metricsFilter.topicName"
        (ngModelChange)="loadMetrics()">
        <option selected [ngValue]="null"></option>
        <option *ngFor="let t of topics" [ngValue]="t.binding">{{t.title}}</option>
      </select>
      <div style="display: flex;">
        <h3 *ngIf="metrics.sentMessagesTotalGain" class="col">Sent Message: {{metrics.sentMessagesTotalGain}}</h3>
        <h3 *ngIf="metrics.mostActiveWeekdayTimeSpan" class="col">Most active day: {{metrics.mostActiveWeekdayTimeSpan.toLowerCase()}}</h3>
      </div>
      <div style="display: flex;">
        <h3 *ngIf="metrics.mostActiveSenderTimeSpan" class="col">Most active sender: {{metrics.mostActiveSenderTimeSpan}}</h3>
        <h3 *ngIf="metrics.subscriberTotalGainOverTimespan" class="col">Overall Subscriber Gain: {{metrics.subscriberTotalGainOverTimespan}}</h3>
      </div>

      <div echarts [options]="sentMessagesOptions"></div>
      <div echarts [options]="messagesByTimeOfDayOptions"></div>
      <div echarts [options]="subscriberGainOptions"></div>

    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
